/* Navbar */
.nav-main {
  margin-bottom: 19px;
}
.navbar-brand {
  font-size: 28px;
}
.nav-icon {
  font-size: 31px;
}
.navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
}

/* Landing */
.landing {
  position: relative;
  background: url('./img/main1.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-text {
  padding-top: 200px;
  color: #fff;
  font-weight: bolder;
}

.btn:focus, .btn:active, .form-control {
  outline: none !important;
  box-shadow: none !important;
}

/* Login */
.fa-sign-in-alt {
  font-size: 30px;
}

.login-main {
  padding-top: 40px;
}

.login-h2 {
  padding: 17px;
}

.login-image {
  background: url('./img/login.jpeg')
  no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 20px;
}

.form-signin {
  background-color: none;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}
